
# the repo. Unless a later match takes precedence,

erpnext/accounts/               @utkarsh-singh-1729
erpnext/assets/                 @utkarsh-singh-1729
erpnext/regional                @utkarsh-singh-1729
erpnext/selling                 @utkarsh-singh-1729
erpnext/support/                @utkarsh-singh-1729
pos*                            

erpnext/buying/                 @utkarsh-singh-1729
erpnext/maintenance/            @utkarsh-singh-1729
erpnext/manufacturing/          @utkarsh-singh-1729
erpnext/quality_management/     @utkarsh-singh-1729
erpnext/stock/                  @utkarsh-singh-1729
erpnext/subcontracting          @utkarsh-singh-1729

erpnext/controllers/            @utkarsh-singh-1729 @utkarsh-singh-1729
erpnext/patches/                @utkarsh-singh-1729

.github/                        @utkarsh-singh-1729
pyproject.toml                  @utkarsh-singh-1729
